.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
  overflow: hidden;
}

