@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  z-index: 3;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 4;
}

.header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 5;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
  opacity: 1;
}

.header__link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
}
.description {
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  margin-top: 0;
  margin-bottom: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.section-title {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.techniques {
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  width: 80%;
}

.cards {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  width: 920px;
}

.cards__item {
  padding: 0;
  width: 240px;
}

.cards__image {
  margin: 60px 40px 63px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;
  display: block;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  display: block;
}

.table {
  padding-left: 0;
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.table__heading {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
}

.video__iframes {
  margin-top: 50px;
  margin-bottom: -80px;
  text-align: center;
}

.video__iframe {
  margin-left: 20px;
  width: 515px;
  height: 316px;
  border: 0;
}

.video__iframe:first-of-type {
  margin-left: 0;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  margin: 0;
  padding-top: 80px;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__main-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 46px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
  opacity: 1;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.digits {
  margin: 0;
  padding: 100px 0 100px;
}

.khan {
  margin: 0 auto;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px 0 36px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
}

.khan__quote-author {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  height: 620px;
}

.khan__book-pic {
  width: 608px;
  object-fit: cover;
  object-position: top right;
}

.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}

.section-title_theme_dark {
  padding-top: 90px;
}
.table_theme_dark {
  padding-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}
.resources__logo-zone {
  padding-top: 80px;
  width: 1100px;
  margin: auto;
  display: flex;
  align-items: baseline;
}

.resources__logo {
  width: 270px;
  height: 38px;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  opacity: 1;
}

.resources__logo:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}

.footer {
  margin: 0;
  padding: 60px 0 40px;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
}

.footer__columns {
  min-height: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  width: fit-content;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}

.footer__column-links {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}
