.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page-section {
  margin: 0;
}

.header {
  margin: 0 auto;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  z-index: 3;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 5;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom:0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 0;
}


.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: -1;
}

.two-columns {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.section-title {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;

}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.data-source {
  margin-top: 20px;
}

.feynman {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.feynman__main-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 0;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}



/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
