.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}
